---
---

<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico"/>
    <title>Coslynn's Portfolio</title>

</head>
  
  <body>
    {% include navbar.html %}
    <div class="container-fluid bg-grey pb-5 attr">
        <div class="row w-75 py-5 mx-auto">
          <div class="col-12 mb-3">
            <h2>Attribution</h2>
          </div>
            <div class="col-12">
                <strong>Cat vector - </strong> <a href="https://www.freepik.com/terdpongvector">terdpongvector</a><br>
                <strong>Girl and laptop vector - </strong> <a href="https://www.freepik.com/pikisuperstar">pikisuperstar</a>
            </div>
        </div>
  </div>
    {% include footer.html %}
  </body>
  
</html>
