---
---
@import 'bootstrap/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Taviraj:wght@400;500;600&display=swap');

//GLOBAL CSS

//typo
h1, h2, h3, h4 {
    font-family: 'Taviraj', sans-serif;
    font-weight: 500;
    color: #D1352A;
}

a {
    font-weight: 500;
    transition: all .25s ease-in-out; 
}

//buttons
.btn {
    width: 150px;
    background-color: transparent;
    border: 1px solid #D1352A;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #D1352A;
    color: #fff;
}

//material icons
.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

//cards
.card {
    height: 100%;
}

//navbar css
.navbar-light .navbar-nav .nav-link {

    opacity: 0.9;

    &:hover {
        color: #442C1D;
        opacity: 1;
    }

}

.container-fluid {
    overflow:auto;
}

//contact css
#contact {
    background-color: #F6EEE3;
}

//footer css
footer {

    a {
        opacity: 0.5;
    }

    a:hover {
        text-decoration: none;
        opacity: 0.8;
        color: #442C1D;
    }


}



//INDEX CSS

//hero css
#hero {
    background-color: #F6EEE3;
    margin-top: 0 !important;

    img {
        width: 100%;
    }

    .col-md-6 {
        align-items: center;
        display: flex;
    }

    @media screen and (max-width: 576px)
    {

        .btn {

            width: 100%;
        
        }

    }

}

//work css
#work {
    background-color: #F9F8F6;
}

//image overlay
.background-element {

    height: 50px;
    overflow: visible;
    background-color: #fff;

    img#cat {
        width: 200px;
        margin-top: -50px;
    }

    &.bg-grey {
        background-color: #F9F8F6;
    }

}

//INDIV WORK CSS

//works css
.works {

    img {
        width: 100%;
    }

    .work-img {

        position: relative;

        .overlay {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #222;
            opacity: 0;
            transition: opacity .25s ease-in-out; 

        }

        .link {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
            opacity: 0;
            transition: opacity .25s ease-in-out; 
            text-align: center;
            
            a {
                position: relative;
                top: 220px;
            }

        }

        &:hover .overlay {
            opacity: 0.6;
        }

        &:hover .link {
            opacity: 1;
        }

    }

}

